@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #000 !important;
}

code {
  font-family: "Montserrat", sans-serif;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

:root {
  --cor1: #fff;
  --cor2: #000000;
  --cor3: #f58840;
  --cor4: #4a403a;
  --cor5: #b85252;
  --cor6: #eadede;
}
